<a href="https://colab.research.google.com/github/Elgendi/Machine-Learning-and-Data-Viz-Workshop/blob/master/Load_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Method 1: Loading data via upload function


1.   file will be uploaded to content/sample_data

2.   we can call the file directly, in this case '07.csv'

3.   Very slow and it is not recommended especially if we have large files

In [6]:
from google.colab import files
uploaded = files.upload()

Saving 07.csv to 07.csv

KeyboardInterrupt: ignored

In [4]:
import pandas as pd
df=pd.read_csv('07.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head(5)

   'Elapsed time'   'ECG'  'EMG' 'foot GSR' 'hand GSr'    'HR' 'marker'  'RESP'
0  'hh:mm:ss.mmm'    'mV'   'mV'       'mV'       'mV'   'bpm'     'mV'    'mV'
1      '0:00.000'  -0.044  0.036      8.763      5.675  88.000   10.850  43.540
2      '0:00.002'  -0.037  0.036      8.763      5.675  88.000   10.850  43.540
3      '0:00.004'  -0.031  0.036      8.763      5.675  88.000   10.850  43.540
4      '0:00.006'  -0.023  0.036      8.763      5.675  88.000   10.850  43.540

# Method 2: Loading data from Google drive

1. file will be uploaded from google drive

2. we can call the file directly via the full path

3. Fast and it is recommended especially if we have large files

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
df1=pd.read_csv('/content/drive/MyDrive/Machine Learning and Visulization Workshop 3rd of Dec/07.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df1.head()

   'Elapsed time'   'ECG'  'EMG' 'foot GSR' 'hand GSr'    'HR' 'marker'  'RESP'
0  'hh:mm:ss.mmm'    'mV'   'mV'       'mV'       'mV'   'bpm'     'mV'    'mV'
1      '0:00.000'  -0.044  0.036      8.763      5.675  88.000   10.850  43.540
2      '0:00.002'  -0.037  0.036      8.763      5.675  88.000   10.850  43.540
3      '0:00.004'  -0.031  0.036      8.763      5.675  88.000   10.850  43.540
4      '0:00.006'  -0.023  0.036      8.763      5.675  88.000   10.850  43.540

# Method 3: Loading data from a website
1. file will be uploaded from the link directly

2. the http is needed with the full path

3. It is better to download the data, then use load for many reasons (version, size, etc)

In [46]:
url = (
    "http://biostat.mc.vanderbilt.edu/wiki/pub/Main/"
    "DataSets/diabetes.xls"
)
df = pd.read_excel(url)
df

*** No CODEPAGE record, no encoding_override: will use 'ascii'

        id   chol  stab.glu   hdl  ratio  ...  bp.2s  bp.2d  waist   hip  time.ppn
0     1000  203.0        82  56.0    3.6  ...    NaN    NaN   29.0  38.0     720.0
1     1001  165.0        97  24.0    6.9  ...    NaN    NaN   46.0  48.0     360.0
2     1002  228.0        92  37.0    6.2  ...  185.0   92.0   49.0  57.0     180.0
3     1003   78.0        93  12.0    6.5  ...    NaN    NaN   33.0  38.0     480.0
4     1005  249.0        90  28.0    8.9  ...    NaN    NaN   44.0  41.0     300.0
..     ...    ...       ...   ...    ...  ...    ...    ...    ...   ...       ...
398  41506  296.0       369  46.0    6.4  ...  130.0   94.0   35.0  39.0     210.0
399  41507  284.0        89  54.0    5.3  ...  146.0  102.0   32.0  43.0     180.0
400  41510  194.0       269  38.0    5.1  ...    NaN    NaN   33.0  40.0      20.0
401  41752  199.0        76  52.0    3.8  ...    NaN    NaN   41.0  48.0     255.0
402  41756  159.0        88  79.0    2.0  ...    NaN    NaN   49.0  58.0     900.0

[403 rows x 19 columns]

# Excersie: Load the Stress Echocardiography Data