<a href="https://colab.research.google.com/github/Elgendi/ECG/blob/master/The_Fundamentals_of_Python_Using_Jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 

# Fundamentals of Python using Jupyter Notbook

Python is an interpreted high-level programming language for general-purpose programming, created by Guido van Rossum and first released in 1991.


This lecture introduces Python using Jupyter Notebooks.

In [ ]:
print('Hello To The Data Science World')

Hello To The Data Science World

In [ ]:
1 + 1

2

## Cell Types

As you can see, each cell can be either code or text. To select between them, choose from the 'Cell Type' dropdown menu on the top left.

## Executing a Command

A code cell will be evaluated when you press play, or when you press the shortcut, Shift + Enter. Evaluating a cell evaluates each line of code in sequence, and prints the results of the last line below the cell.

In [ ]:
a = [5,6,7,8,9,11]
a

[5, 6, 7, 8, 9, 11]

In [ ]:
a = tuple([3, 5, 7])
a

(3, 5, 7)

In [ ]:
a = list([3, 5, 7])
a

[3, 5, 7]

In [ ]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a = ['UBC', 'Population', 4000]

In [ ]:
b = a.copy()

In [ ]:
a == b

True

In [ ]:
a is b

False

In [ ]:
id(a)

2608354254472

In [ ]:
a[0]

'UBC'

In [ ]:
a[0] = 'SFU'

In [ ]:
a

['SFU', 'Population', 4000]

In [ ]:
b

['UBC', 'Population', 4000]

In [ ]:
a = b = c = '??'

In [ ]:
b

'??'

In [ ]:
a = [5, 25, 'foo', 3.57, None, 'bar']

In [ ]:
a

[5, 25, 'foo', 3.57, None, 'bar']

In [ ]:
a[1] = 1000000000000
a.append('Moe')
a

[5, 1000000000000, 'foo', 3.57, None, 'bar', 'Moe']

In [ ]:
some_other_collection = ['foo', 3.57, 'bar', 'baz', 'hello', 257]

In [ ]:
type(some_other_collection)

list

In [ ]:
b = some_other_collection

In [ ]:
some_other_collection = 'cool'

In [ ]:
b

['foo', 3.57, 'bar', 'baz', 'hello', 257]

In [ ]:
some_other_collection[1]

'o'

In [ ]:
some_other_collection.append('thales')

AttributeError: 'str' object has no attribute 'append'

In [ ]:
some_other_collection[1] = 123

In [ ]:
some_other_collection = None

In [ ]:
b = a

In [ ]:
a[1] = 'something completely different'

In [ ]:
b = "Hello"
d = ['aa', 32434, True]
d.remove('aa')

Sometimes there is no result to be printed, as is the case with assignment.

In [ ]:
X = 2

Remember that only the result from the last line is printed.

In [ ]:
X

In [ ]:
a = 'hello'
a = a + ' world'
print(2 + 2)
print(3 + 7)
(2 + 2, 3 + 7, 3 + 5)

In [ ]:
a

In [ ]:
2 + 2
3 + 7

However, you can print whichever lines you want using the `print` statement.

In [ ]:
print(2 + 2)
3 + 3

## Knowing When a Cell is Running

While a cell is running, a `[*]` will display on the left. When a cell has yet to be executed, `[ ]` will display. When it has been run, a number will display indicating the order in which it was run during the execution of the notebook `[5]`. Try on this cell and note it happening.

In [ ]:
for i in range(5, 10, 3):
    print(i)

In [ ]:
#Take some time to run something
a = 0
for i in range(10000001):
    a = a + i
a

## Importing Libraries

The vast majority of the time, you'll want to use functions from pre-built libraries. Here we import `numpy` and `pandas`, the two most common and useful libraries in quant finance and trading. We recommend copying this import statement to every new notebook.

Notice that you can rename libraries to whatever you want after importing. The `as` statement allows this. Here we use `np` and `pd` as aliases for `numpy` and `pandas`. This is a very common aliasing and will be found in most code snippets around the web. The point behind this is to allow you to type fewer characters when you are frequently accessing these libraries.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a

## Tab Autocomplete

Pressing tab will give you a list of Jupyter's best guesses for what you might want to type next. This is incredibly valuable and will save you a lot of time. If there is only one possible option for what you could type next, Jupyter will fill that in for you. Try pressing tab very frequently, it will seldom fill in anything you don't want, as if there is ambiguity a list will be shown. This is a great way to see what functions are available in a library.

Try placing your cursor after the `.` and pressing tab. Further, you can view a method signature by pressing shift + tab.

In [ ]:
print(np.random.binomial(2,0.5))

In [ ]:
np.

## Getting Documentation Help

Placing a `?` after a function or a module and executing that line of code will give you the documentation Jupyter has has for that function. It's often best to do this in a new cell, as you avoid re-executing other code and running into bugs.

In [ ]:
?pd.DataFrame

## Introduction to Python

This section addresses the main features and functionalities of Python in the domain of Data Science. As data scientists, we care a lot about data structures that let us store large collections of data. Python API has a number of such data structures. Further libraries such as `pandas` define very convinient ways of interacting with data.

# Variables

The basic variable types that we will cover in this section are `integer`s, `float`s, `boolean`s, and `string`s.

## Numerics

Variables provide names for values in programming. If you want to save a value for later or repeated use, you give the value a name, storing the contents in a variable. Variables in programming work in a fundamentally similar way to variables in algebra, but in Python they can take on various different data types.   

An **integer** in programming is the same as in mathematics, a whole number with no values after the decimal point. We use the built-in `print` function here to display the values of our variables as well as their types!

In [ ]:
my_int = 42
print(my_int, type(my_int))

Variables assignment is expressed via equals `=` sign, irrespective of the type of the variables that we are assigning. Variables are case sensitive, so make sure that you match the variable names exactly when using them after assignment:

In [ ]:
print(my_int)

A `float` is a type we prescribe to floating point or, in mathematics, real numbers. `float` number type is used throughout data science to represent and do arithmetic operations on numerical values. To define a float we need to include a decimal point `.` or explicitly force the number the number to be a float by using `float()` function:

In [ ]:
my_float = 42.
print(my_float, type(my_float))
my_float = float(my_int)
print(my_float, type(my_float))

We can use `int()` function to coerce a `float` variable back to `int` as follows (note that any digits after decimal point will be truncated):

In [ ]:
my_int = int(65.73)
print(my_int, type(my_int))

Let us set the variable `x`, so it also equals 65:

In [ ]:
x = 65

In [ ]:
type(x)

We could overwrite `x` with a value of a different **type**, such as a decimal fraction:

In [ ]:
x = 3.57

The type of `x` has now changed:

In [ ]:
type(x)

`float` stands for "floating point", fractions are expressed in Python as "floating point" numbers. This is a particularly important data **type** for data scientists, who deal with floating point numbers most of the time. If you want to *really* understand floating point numbers, have a look at the paper *What Every Computer Scientist Should Know About Floating-Point Arithmetic* by David Goldberg; you can hopefully find it [here](https://www.itu.dk/~sestoft/bachelor/IEEE754_article.pdf).

Some programming languages (such as Java, C++, C#, and many others) would not allow overwriting `x` with a value of a different type: once something is an `int`, it is always an `int`. We say that these languages are **statically typed**, whereas Python is **dynamically typed**. Types are important in Python, and Python is still a **strongly typed** language, although the type of a variable may change over the lifetime of the program, hence the expression: "dynamically typed".

Let us make `x` a float again:

In [ ]:
x = 3.57

In [ ]:
type(x)

## Booleans

`boolean` is a binary variable type, that can either be `True` or `False`. In later sections we will see how significant `booleans` are in programming. Here is some basic usage:

In [ ]:
my_bool = True
print(my_bool, type(my_bool))

## Strings 

`string` type allows us, programmers, define text variables that we can do various operations on. In order to define a `string`, you will use single `'` or double `"` quotation marks. In data science `string` type is essential when working with textual data.

In [ ]:
my_str = "foo"
print(my_str, type(my_str))

Python API defines a `format()` method that allows us to format strings to our liking:

In [ ]:
sentence = "Hello. My name is {} and i like {}."
name = "Ed"
second = "bread"
sentence = sentence.format(name, second)
print(sentence)

In [ ]:
'Hello. My name is %s and I have spent %d years in finance' % ('Paul', 100)

You can also access individual `string` characters via `[]` indexing, which is, to the most part, identical syntax to that of accessing `list` elements as we shall see in the next sections. A point to remember for now is that indexing in Python starts from `0`:

In [ ]:
print(sentence[0])
print(sentence[16])

We will see more ways to slice and dice strings when we cover `list` type.

## Arithmetic expressions and the `math` library

Python supports the standard arithmetic operators:

In [ ]:
print('Addition: ', 5+2)
print('Subtraction: ', 5-2)
print('Multiplication: ', 5*2)
print('Division: ', 5/2)
print('Exponentataion: ', 5**3)
print('Modulo: ', 5%2)

In [ ]:
import math
'Square root of 5 is %.010f' % math.sqrt(5)

In [ ]:
import pandas as pd
pd.options.display.float_format = '${:,.3f}'.format
df = pd.DataFrame([123.4567, 234.5678, 345.6789, 456.7890],
                  index=['foo','bar','baz','quux'],
                  columns=['cost'])
print(df)

In [ ]:
dir(object)

In [ ]:
class Person(object):
    def __init__(self, name, surname):
        if name is None or len(name) < 5:
            raise ValueError('Invalid name')
        self.name = name
        self.surname = surname
        
    def introduce(self):
        print('Hello! My name is %s %s' % (self.name, self.surname))
        
    def __eq__(self, other):
        return self.surname == other.surname
        
    def __repr__(self):
        return '%s, %s' % (self.surname, self.name)
    
    def __str__(self):
        return self.__repr__()

In [ ]:
newton = Person(None, 'Newton')

In [ ]:
newton.introduce()

In [ ]:
elg = Person('Mohamed', 'Newton')
elg.introduce()

In [ ]:
str(elg)

In [ ]:
5//2, 5%2

In [ ]:
elg is newton

In [ ]:
elg == newton

In [ ]:
elg.__eq__(newton)

In [ ]:
a, b = 'foo', 'bar'
print(a)
print(b)

In [ ]:
?__str__

**Expressions** such as

In [ ]:
3 + 5

In [ ]:
2. * x + 7.

evaluate to numbers (whether integers, or floating point numbers). They are known as **arithmetic** expressions.

In addition, we can perform an array of other common operations on numerics:

In [ ]:
print('Absolute value: ', abs(-5))
print('Rounding: ', round(3.56))
print('Maximum value: ', max(3,2,8,10,2,5))
print('Minimum value: ', min(3,2,8,10,2,5))

The `math` library provides us with many utilities a data scientist would find handy:

In [ ]:
import math

We can start make use of these utilities right out of the box:

In [ ]:
print('Euler: ', math.e)
print('Pi: ', math.pi)

# Collections

## Lists

Lists are arguably the most used data structure in python. Its core function is to allow storage and access of various elements. Financial data in particular is often represented as time-series, which are, at theier core, collections of observed values over time. To define a `list` we use square brackets `[]`:

In [ ]:
my_list = [1,5,6,3]
print(my_list, type(my_list))

Python allows us to combine elements of different types into the same `list`:

In [ ]:
my_list = [1, "hello world", True, math.pi]
print(my_list)

Accessing elements of a `list` is performed using `[]`. Rememeber that index of the first element of the list is `0`, which means that in order to access *n*th element of a `list` you have to pass *n-1* as an index:

In [ ]:
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])

You may also access elements from the end of an array by using negative indexing:

In [ ]:
print(my_list[-1])
print(my_list[-2])
print(my_list[-3])
print(my_list[-4])

We may set an element in a `list` to a new value:

In [ ]:
my_list[-1] = 4
print(my_list)

`list`s may also be sliced and diced in many different ways. We can select a range from the list:

In [ ]:
my_list = ['problem','worthy','of','attack','proves','its','worth','by','fighting','back']
print(my_list[3:6])

We may also select ranges without lower / upper boounds:

In [ ]:
print(my_list[3:])
print(my_list[:5])

You can select a step:

In [ ]:
my_list[::2]

Reverse the order by setting negative step size:

In [ ]:
my_list[::-1]

And combine these slicers in various ways:

In [ ]:
my_list[2:10:3]

Python gives us a few handy funcitons to generate lists of common spec, such as ordered numbers. We utilise `range()` numbers to do just that, just don't forget to wrap with a `list()` coercer to get an actual list back instead of `range`:

In [ ]:
range(10)

In [ ]:
list(range(10))

Conviniently, we can define a step as well:

In [ ]:
list(range(1,10,2))

We can add elements to the end of the list via `append()` method:

In [ ]:
my_list = list(range(0,10))
my_list.append(25)
my_list.append(25)
print(my_list)

We may remove specific elements by calling `remove()` and supplying it with the value of an element we'd like to remove. Note that only the first instance of an element will be removed:

In [ ]:
my_list.remove(25)
my_list.remove(my_list[5])
print(my_list)

Python lists are essential for many aspects of scientific computation; knowing how to manipulate data using Python lists is thus a very important skill to have in your toolbox. For a complete reference on methods available on Python `list`s refer to its documentation page. Common collection operations such as filtering, mapping and sorting are very convinient to execute using anonymous functions (lambdas):

In [ ]:
list(filter(lambda x: x > 5, my_list))

In [ ]:
list(map(lambda x: x*2, my_list))

In [ ]:
sorted(my_list, reverse=True)

## Dictionaries
Python dictionaries are powerful abstractions that let us define key-value pairs. In other programming languages, such abstractions are also known as maps. We define dictionaries by using `{}` and separating keys and values by `,`. Elements can be accessed via `get()` method or via `[]` notation. Let's see some examples:

In [ ]:
book = {
    'authors': ['Michael Berthold', 'David J. Hand'],
    'title': 'Intelligent Data Analysis',
    'publisher': 'Springer',
    'year': 2003
}

In [ ]:
book['authors']

In [ ]:
my_dict = {1:'one',2:'two',3:'three'}
print(my_dict.get(1))
print(my_dict[1])
my_dict[4] = 'four'
print(my_dict)

Since python is dynamically typed, we can define very convinient data structures. Let's see how we would define a dummy data-set of financial time-series:

In [ ]:
my_dict = {
    'AAPL':[200,201,200.1,205],
    'GOOG':[700,750,640,720],
    'AMZN':[900,850,920,910]
}

print (my_dict)

Here, each value corresponds to a list of dummy prices. As we go forth, we will see how powerful such data structures are.

# Logic

Let us set `x` to the integer 10:

In [ ]:
x = 10

## Logical Operators

In [ ]:
x < 10

In [ ]:
type(x < 10)

Different **boolean expressions** can be obtained by using different **comparison operators**, such as **less than**:

In [ ]:
x < 10

**less than or equals**:

In [ ]:
x <= 10

**equals**:

In [ ]:
x == 10

**greater than or equals**:

In [ ]:
x >= 10

**greater than**:

In [ ]:
x > 10

And these **comparison operators** can be combined with **logical operators**, such as `not`, `and`, and `or`:

In [ ]:
(x <= 10) and (x % 2 == 1)

In [ ]:
(x <= 10) or (x % 2 == 1)

We can also use the built-in function `all`:

In [ ]:
all([x > 1, 5 <= x, 5 > 3, 7 != 1])

which is equivalent to

In [ ]:
x > 1 and 5 <= x and 5 > 3 and 7 != 1

Similarly,

In [ ]:
all([x > 1, 5 <= x, x == 5, 5 > 3, 7 != 1])

is equivalent to

In [ ]:
x > 1 and 5 <= x and x == 5 and 5 > 3 and 7 != 1

Another builtin function, `any`, enables us to write

In [ ]:
any([x > 1, 5 <= x, x == 5, 5 > 3, 7 != 1])

which is somewhat more succinct and arguably more readable than the equivalent

In [ ]:
x > 1 or 5 <= x or x == 5 or 5 > 3 or 7 != 1

Each data type can also be evaluated to `True` or `False`. As a general rule, objects like `string` will evaluate to `False` if they do not contain anything and `True` otherwise:

In [ ]:
print(bool())
print(bool(''))
print(bool(' '))
print(bool(1))

## Flow of control

We can control the flow of our programs using the basic logic operators and `if` statements. If statment executes if the boolean expression that it evaluates is `True` and `else` block will execute if the block is not `True`. Else-if or `elif` lets us set a specific boolean expression to evaluate if the base case is not `True`.

In [ ]:
#If-else statement skeleton
if 'Condition':
    #do something if the 'Condition' is True
    print('in the if block')
else:
    #do something otherwise
    print('in the else block')
#note that 'Condition' will evaluate to True as it is a non-empty string

In [ ]:
a = 6
if a == 6:
    print('a is equal to 6')
else: print ('Error')

We can also have nested `if-else` statements:

In [ ]:
a = 9

if a % 2 == 0:
    print('a is divisible by 2')
    if a % 3 == 0:
        print('a is divisible by 2 and 3')
if a % 3 == 0:
    print('a is divisible by 3')
else:
    print('a is devisible by neither 2 or 3')

We can use Pythonic syntactic sugar constructs such as `in` and `and` to check the membership of element/s in some structure. For example:

In [ ]:
string = 'I love Python'
if 'y' or 'z' in string:
    print('This is my string!')

# Iteration
It is an essential tool of any programmer to go through a collection of elements and perform operations on each of them. For a data scientist, this skill is ever so important across many stages of the process: data collection, cleaning and analysis.

**Loops** allow us to repeat blocks of code multiple times. For example:

## While loop

While loop is a basic loop that will execute if some condition is `True` and stops executing when the condition is `False`:

In [ ]:
a = True
while a:
    print('inside while loop')
    a = False

Here is another example:

In [ ]:
x = 0
while x < 10:
    print(x)
    x = x + 1

We start by setting the variable `x` to 0. We then repeat the indented **block**, consisting of the lines `print(x)` and `x = x + 1`, while the condition `x < 10` holds. The second line in this block, `x = x + 1`, keeps incrementing the variable `x` by 1, so eventually the condition `x < 10` will end up being false. Thus we get ten **iterations** of the loop. If we check the value of the variable `x` after we have left the loop, we find that it is

In [ ]:
x

We can escape the loop by issuing a `break` command:

In [ ]:
a = 0
while True:
    a += 1
    print(a)
    if a == 10:
        break

## For loop

For loop is one of the most convinient iteration techniques out there. We use for loops to iterate through lists, dictionaries, ranges and other data structures. Unlike `while` loop, `for` loop will by default go through every element in the list and perform a given task.

In [ ]:
a = 0
for i in range(10):
    a += i
print(a)

There is more than one way to iterate through dictionaries:

In [ ]:
my_dict = {
    'AAPL':[200,201,200.1,205],
    'GOOG':[700,750,640,720],
    'AMZN':[900,850,920,910]
}

In [ ]:
for (ticker, prices) in my_dict.items():
    print(ticker, prices[0])

In [ ]:
for i in my_dict:
    print(i)

Calling `items()` on dictionary gives access to keys and values:

In [ ]:
for key, value in my_dict.items():
    print(key, value[0])

# Functions

Funcitons have a huge singinficance for promgrammers and data scientists alike. Functions allow us to describe a piece of logic that we can reuse in future. This lets us leverage power of computation and perform an arbitrary task on large sets of data. Functions are defined using `def` key-word and anonymous functions can be defined via `lambda` key-word. We use `return` to get a value from the function. We use `()` and pass corresponding parameters to run functions.

In [ ]:
#function that does not return anything:
def printer(a):
    print(a)

printer('hello world')

In [ ]:
def area(length, width):
    return length * width

print(area(2,5))

In [ ]:
double = lambda x: x**2
double(10)

In [ ]:
type(area)

In [ ]:
type(double)

We are only scratching the surface of functions here and highlighting details of a programming skillset of a data scientist. Python has a wide array of other functionalities that make it useful beyond data science and mathematical computation.

This concludes the lecture / tutorial on Python programming for data science. Please be sure to ask any questions!

## Recommendation

To learn more about Python, you may wish to consult the official Python documentation: https://docs.python.org/3/

You may also wish to look at the following books:

* Wes McKinney. *Python for Data Analysis*, 2nd Edition. O’Reilly Media, Inc., 2017. This book goes through the foundations of the Python programming language, the Jupyter environment, industry-standard Python libraries, especially Pandas, and applications to time series data.
* Yves Hilpisch. *Python for Finance*, 2nd Edition. O’Reilly Media, Inc., 2019. This book goes through the foundations of the Python programming language, industry-standard Python libraries, including Pandas, an introduction to object-oriented programming, and applications to automated trading, derivatives, and portfolio valuation.
* Francois Chollet. *Deep Learning with Python*. Manning Publications, 2018. This book focusses on Deep Learning (DL), rather than Python, but considers how Python libraries could be used to facilitate DL. It does not cover the fundamentals of Python in great depth.

If you have a question check whether it is already answered on StackOverflow: https://stackoverflow.com/

Very often, if you google your Python programming question, you end up on StackOverflow.

If you are using Python for data science, check out
* https://www.kaggle.com/ (great for data science in general)
* https://www.quandl.com/ (a great source of financial and alternative data).